body{
	background-color: #FFF498;
	overflow: hidden;
}

.menu{
	top: 0px;
	left: 0px;
	width: 250px;
 	height: 100%;
 	background-color: #1A7F46;
 	position: absolute;
 	z-index: 1;
}


 .menu_list{
 	list-style-type: none;
 	margin: 0px;
 	font-family: 'Quantico';
	font-size: 50px;
	color: #FFF498;
 }

 .work_list{
 	list-style-type: none;
 	font-size: 40px;
 	margin: 0px;
 	padding-right: 0px;
 }

.socials {
	width: 100%;
	bottom: 0%;
	text-align: center;
	position: absolute;
}

img {
	padding: 0px 10px;
}

img:hover {
	background-color: white;
	opacity:50%;
}


a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: inherit;
}

a:hover {
	color: #AAD4FF;
}

#intro {
	margin-left: 8%;
}

h1 {
	font-family: 'Press Start 2P';
	color: #1A7F46;
	text-align: center;
}

.image {
	height: 456px;
	width: 614px;
	background-image: url(../img/me.JPG);
	background-size: cover;
	margin: 200px 600px;
	position: absolute;
	border: 5px solid white;
}

#svg {
	margin: 205px 604px;
	position: absolute;

}

#me {
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	stroke-dasharray: 2000px;
	stroke-dashoffset: 2000px;
}

.svg_drawing_animation {

    animation: move 3s linear forwards;
    animation-delay: .9s;
}	

.svg_drawing_animation:hover {
	animation: infinite;
}	

@keyframes move {
    100% {
        stroke-dashoffset: 0;
    }
}

	
.text {
	font-family: 'Quantico';
	font-size: 20px;
	height: 456px;
	width: 614px;
	margin: 0px 400px;
    position: absolute;
    border: 5px solid #1A7F46;
   	z-index: -1;
}

p {
	position: relative;
}
