body{
	background-color: #FFF498;
}

.container {
	width: 100%;
}

.title {
	font-family: 'Press Start 2P';
	font-size: 20px;
	color: #1A7F46;
	width: 800px;
	background-color: #FFF498;
	text-align: center;
	margin: 22% 35%; 
	position: fixed;
	border-top: 3px solid #1A7F46;
	border-bottom: 3px solid #1A7F46;
}


.image {
	height: 832px;
	width: 800px;
	margin: 10% 35%;
	background-image: url(../img/weird.png);
	background-size: cover;
	position: fixed;
	z-index: -1;
}

@media only screen and (max-width: 700px) {
	.title {
		width: 50%;
	}
	
	.image {
		height: 50%;
		width: 50%;
	}
}

.menu{
	margin: 24px;
	width: 224px;
 	height: 100%;
 	background-color: #1A7F46;
 	position: absolute;
 	z-index: -1;

}
 .menu_list{
 	list-style-type: none;
 }

 .work_list{
 	list-style-type: none;
 	margin: 0px;
 	padding: 0px;
 }

li {
	font-family: 'Quantico';
	font-size: 50px;
	color: #FFF498;
}

a:link {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
}

a:visited {
	color: inherit;
}