body {
	background-color: #28A4FF;
}
#project{
	width: 100%;
	height: 100%;
	position: fixed;
}

.img_container {
	width:310px;
	height: 400px;
	padding: 0%;
	right: 0%;
	text-align: right;
	position: absolute;
}

.push {
	width: 100%;
	height: 100%;
}

.youre {
	display: none;
	color: blue;
	font-family:'Homemade Apple', cursive;
	font-size: 75px;
	text-align: center;
	position: absolute;
	margin: 30% 200px;
}
@media only screen and (min-width: 550px) {
	.youre {
		display: inherit;
	}
}

.doing {
	display: none;
	color: blue;
	font-family:'Homemade Apple', cursive;
	font-size: 75px;
	text-align: center;
	position: absolute;
	margin: 40% 500px;
}

@media only screen and (min-width: 650px) {
	.doing {
		display: inherit;
	}
}
.great {
	display: none;
	color: blue;
	font-family:'Homemade Apple', cursive;
	font-size: 75px;
	text-align: center;
	position: absolute;
	margin: 30% 800px;
}

@media only screen and (min-width: 950px) {
	.great {
		display: inherit;
	}
}

.sweetie {
	display: none;
	color: blue;
	font-family:'Homemade Apple', cursive;
	font-size: 75px;
	text-align: center;
	position: absolute;
	margin: 40% 1100px;
}

@media only screen and (min-width: 1250px) {
	.sweetie {
		display: inherit;
	}
}

.ok {
	display: none;
	position: absolute;
	margin: 5% 0%;
	z-index: -1;
}

@media only screen and (min-width: 600px) {
	.ok {
		display: inherit;
	}
}
.snoopy {
	display: none;
	position: absolute;
	height: 5%;
	width: 25%;
	top: 36%; 
	right: 0%;
	z-index: -1;
}

@media only screen and (min-width: 1000px) {
	.snoopy {
		display: inherit;
	}
}

.kermit {
	display: none;
	position: absolute;
	left: 720px;
	top: 90%;
}

@media only screen and (min-width: 900px) {
	.kermit {
		display: inherit;
	}
}

.gift {
	display: none;
	position: absolute;
	font-size: 50px;
	font-family:'Mansalva';
	text-align: center;
	top: 5%;
	left: 30%;
	color: white;
	background-color: #D87FC7;
	opacity: 50%;
	
}
@media only screen and (min-width: 900px) {
	.gift {
		display: inherit;
	}
}
p {
	
}

#description {
	top: 120%;
	left: 0%;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #FFF498;
}
.menu{
	top: 0px;
	left: 0px;
	width: 250px;
 	height: 100%;
 	background-color: #1A7F46;
 	position: absolute;
 	z-index: 1;
}

 .menu_list{
 	list-style-type: none;
 	margin: 0px;
 	font-family: 'Quantico';
	font-size: 50px;
	color: #FFF498;
 }

 .work_list{
 	list-style-type: none;
 	font-size: 40px;
 	margin: 0px;
 	padding-right: 0px;
 }

.socials {
	width: 100%;
	bottom: 0%;
	text-align: center;
	position: absolute;
}

.img {
	padding: 0px 10px;
}

.img:hover {
	background-color: white;
	opacity:50%;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: inherit;
}

a:hover {
	color: #AAD4FF;
}

h1 {
	padding: 0px 25px;
	margin-left: 27%;
	font-family: 'Press Start 2P';
	color: #1A7F46;
	text-align: center;
	border-bottom: 5px solid #1A7F46;;
	position: absolute;
}

.text {
	font-family: 'Quantico';
	font-size: 20px;
	height: 456px;
	width: 614px;
	margin: 5% 50%;
    position: absolute;
    border: 5px solid #1A7F46;
}

.date {
	padding-left: 40px;
	font-size: 25px;
	font-family: 'Quantico';
	margin: 10% 43.5%;
	border-bottom: 5px solid #1A7F46;
	position: absolute;
}
